* body {
    font-family: open sans;
    margin: 0px;
}

h1 {
    font-weight: 300;
    font-size: 1.2em;
    margin: 0px;
}

/*********************** NAV ***************************/

.overskrift {
    /*    padding-bottom: 20px;*/
    font-weight: 800;
    font-size: 1.7em;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.logo {
    /*    padding-bottom: 20px;*/
    font-weight: 800;
    font-size: 1.7em;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}

.vertical_menu {
    width: 300px;
    height: 80%;
    margin-top: 65px;
    position: fixed;
    border-right-style: solid;
    border-right-color: #e0137b;
    border-right-width: 1px;
}

.vertical_menu a,
.vertical_menu h1 {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #e0137b;
    font-style: italic;

}

.vertical_menu a:hover {
    opacity: 0.5;
}

/*
.logo {
    padding-bottom: 20px;
    font-weight: 800;
    font-size: 1.7em;
}
*/

.logo_div {
    padding: 20px 0 20px 0;
    font-weight: 800;
    font-size: 1.7em;

}

.divider {
    width: 60px;
    height: 1px;
    display: block;
    margin: 0 auto;
    background: #e0137b;
}

.divider2 {
    width: 50vw;
    height: 1px;
    display: block;
    margin: 0 auto;
    background: #e0137b;
}

.nav_opgaver {
    font-weight: 400;
    padding: 5px 0 5px 0;
}

.nav_opgaver_last {
    font-weight: 400;
    padding: 5px 0 20px 0;
}


.socialemedier {
    display: flex;
    flex-wrap: nowrap;
}

/*
.socialemedier a {
    width: 50%;
    height: auto;
}
*/

.socialemedier img {
    margin-top: 80px;
    width: 20%;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .vertical_menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .burgermenu {
        display: none;
    }
    .divider2 {
        display: none;
    }

}

.burgermenu {
    text-align: center;
    margin: 15px 0 15px 0;
}

.burgermenu a {
    text-align: center;
    text-decoration: none;
    color: #e0137b;
    font-style: italic;
    font-weight: 800;
    font-size: 1.7em;

}

/*********************** BURGERMENU ***************************/

.burgermenu span {
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: #e0137b;
    padding: 0 0 0 15px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2em;
    color: #e0137b;
    display: block;
    transition: 0.3s;
    font-style: italic;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/*********************** NAV SLUT ***************************/

/*********************** CONTENT SKÆRM START ************************/

@media screen and (min-width: 1024px) {
    #content {
        height: 595px;
        width: 1040px;
        display: block;
        padding: 70px 0px 0px 350px;
    }
}

@media screen and (max-width: 1024px) {
    #content {
        height: 100vw;
        width: 100vw;
        margin: 0 auto;
        display: block;
        padding: 10px 0px 0px 0px;
    }
}

/*********************** CONTENT SKÆRM SLUT ************************/

/*********************** STILARTSITE ************************/

.stilart_img {}
